# Configurações do banco de dados PostgreSQL
DATABASE_TYPE='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_USERNAME='postgres'
DATABASE_DATABASE='postgres'
DATABASE_PASSWORD='ADD_DATABASE_PASSWORD_HERE'
DATABASE_AUTOLOADENTITIES=1 # 1 para true, 0 para false
DATABASE_SYNCHRONIZE=0